<div class="chips" (click)="message()">
    <div class="mindspark--logo">
        <img src="https://learn.mindspark.in/Teacher/ms_logo_icon.fc7697984c7e16aec57c.svg">
    </div>
    <div class="message--details">
        <h2>Mindspark (3)</h2>
        <h4>hi mindspark!</h4>
        <p>{{' Your comment is removed by the system as we could not understand it. Write to us on a new comment if you need any help with Mathematics or Mindspark. Regards, Mindspark Team'| slice:0:30}} ...</p>
    </div>
</div>