

.chips{
    width:inherit;
    display:flex;
    align-items:center;
    padding:.5rem;
    transition:all .5s linear;
    cursor: pointer;
    border-bottom: 1px solid dimgray;
    &:hover{
    background-color:rgba(0,0,0,.1);

    }
    .message--details{
        margin-left: 1rem;
        h2{
            font-size: 1.1rem;
        }
        h4{
            font-size: 1rem;
        }
        p{
            font-size: .9rem;
            color:gray;
        }
    }
}