.wrapper{
    width:100vw;
    min-height: 80vh;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: space-around;
}

#contact--us{
    width:50vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    justify-content:space-around;

}

#contact--us h1{
    font-size: 1em;
    font-weight: bolder;
    margin-top: 1rem;
}

.visit--us{
    text-align: center;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px #d1d5df80;
    padding:15px;
    position:relative;
    margin-top: 30px;
}


.visit--us::before{
    content: "";
    background: url(https://learn.mindspark.in/Teacher/location.9cf9f01498021cce11ff.svg) center center no-repeat;
    background-color: #fff;
    width:3rem;
    height:3rem;
    position: absolute;
    top: -35px;
    left:46%;
    border-radius: 100%;
    box-shadow: 0 10px 30px #d1d5df80;
    border:2px solid #d1d5df80;
    background-size:18px;
    
}


.visit--us p{
    color: #858997;
}
.visit--us--card{
    display: flex;
    width:100%;
    min-height: 10rem;
    justify-content:space-between;
}

@media screen and (max-width:750px){
    .visit--us--card{
        flex-direction: column;
    }
}


@media screen and (max-width:1150px){
    #contact--us{
        width:80vw;
    }    
}