.left-view{
  background-color: #ffffff;
  width: 50%;
  min-height: 100vh;
  float: left;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.left-view img{
  width:300px !important;
  height:auto !important;
  
}

.right-view{
  background-color: #f6f6f6;
  width: 50%;
  min-height:100vh;
  float: left;
}

.get-started{
  margin-left: 9vw;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35vh;
}

#login{
  color:#ba1e1e;
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
}

#lets-get{
  font-weight: bold;
  font-size: 25pt;
}

.inp{
  border: none;
  border-bottom:1px solid black;
  background-color: #f6f6f6;
  width: 500px;
  outline: none;
  padding:.5rem .2rem;
}

#next{
  color: white;
  font-weight: 400;
  background-color: #ba1e1e;
  border-radius: 30px;
  font-weight: bold;
  border:none;
  height: 40px ;
  width: 160px;
  margin-top: 20px;
  align-self: flex-end;
}

#pwdDiv{
  display: flex;
  flex-direction:row;
  align-items:stretch;
}


.flex--btn{
  display: flex;
  flex-direction: column;
  width:500px;

}

@media (max-width: 800px){
  .left-view, .right-view{
    width: 100%;
  }
  .inp{
    width: 400px;
  }
  
}