table, td, th, tr{
  border: 1px solid rgb(169, 168, 168);
  border-collapse: collapse;
  /* padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px; */
  height: 40px;
  text-align: center;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

a{
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size:0.9rem;
  color: #2b93ff;
}

svg{
  align-items: center;
  justify-content: center;
  align-self: center;  
}