<div class="card">
    
    <div class="card--header">
        <div class="header--details">
            <h6>{{data}}</h6>
            <p>Activated on Mar 12, 2022 (85 days ago)</p>
        </div>
        <i class="pie--chart"></i>
    </div>


    <div class="progress--wrapper">
            <div class="percent--progress">
                <p><span>0%</span> progress</p>
            </div>
            <div class="completed">
                <p><span>0/21</span> <br> Completed</p>
            </div>
    </div>
    
    <div class="other--btns">
        <button>Deactivate</button>
        <button>View Report</button>
        <div class="dots">
            <i class="three--dots"></i>
        </div>
    </div>

    
</div>