<section id="write--message">
    <h3>Mindspark</h3>
    <form>
        <input type="text" class="inp form--inp" value="To: Mindspark" readonly>
        <div class="text--area">
        <textarea class="inp message" name="message" placeholder="Write Your Message"></textarea>
        <div class="send--attach">
            <div class="attachment--container">
                <i class="file"></i>
                <span>Attach a file</span>
            <input type="file" accept="image/x-png,image/png,image/jpeg,image/jpg,application/pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
             class="inp--file">

            </div>
            <button>Send</button>

        </div>
        </div>
</form>
</section>