<div class="header">
  <svg routerLink="/home" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg>
  <div style="padding:15px; width: 100%; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12pt;">My Profile</div>
</div>


<!-- leftdiv -->
<div class="left-view">
  <div class="card">
    
    <!-- Profile Pic -->
    <div>
      <img id="image" src="../assets/user.png" height="135px" alt="" style="margin-bottom: 5px;">
      <svg xmlns="http://www.w3.org/2000/svg" style="cursor:pointer; margin-left: -40px; margin-bottom:-70px; background-color:#2d42ae;color:white; border-radius:100px " width="30" height="30" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
        <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
        <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
      </svg>
    </div>

    <button id="hello" (click)="this.change()" style="margin-top: 10px; background-color:#f0643c; border-radius:5px; color:white; width:80%; border: none;padding: 7px;font-weight: bold;padding: 8px;">
      Edit Profile
    </button>
    <button style="border: 2px solid #f0643c;background-color: white; border-radius: 5px; width: 80%;margin-top: 20px;padding: 6px;color: #f0643c;align-items: center;">
      Change Password
    </button>
  </div>
</div>

<!-- right-div -->
<div class="right-view">
  <div class="card1">
    <div style="display: flex;flex-direction:row">
      <div>
        First Name *<br>
        <input type="text" [readonly]="toEdit" value="UmeshJoshi">
      </div>
      <div>
        Last Name * <br>
        <input type="text" value="teacher">
      </div>
    </div>
    <div style="display: flex;flex-direction:row">
      <div>
        Gender *<br>
        <select name="gender" id="" [disabled]="toEdit">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select> 
      </div>
      <div>
        Email ID * <br>
        <input type="text" [readonly]="toEdit" value="umesh.joshi@ei-india.com">
      </div>
    </div>
    <div style="display: flex;flex-direction:row">
      <div>
        DOB (dd/mm/yyyy) *<br>
        <input type="date" [disabled]="toEdit" value="07-02-2001">
      </div>
      <div>
        Phone * <br>
        <input type="tel" [disabled]="toEdit" value="986-532-7845">
      </div>
    </div>
    


    
    <!-- footer -->
    <div>
      <div class="footer">
      <button style="border: 1px solid#f0643c;border-radius:5px; padding:4px 25px;font-size:10pt;color: #f0643c; background-color: white;">Discard</button>
      <button style="font-size: 10pt;margin: 10px;background-color:#b0acac; padding: 4px 33px;border-radius: 5px; border: 2px solid #b0acac;color: white;font-weight: bold;">Save</button>
    </div>
  </div>


  </div>
</div>
