<div class="header">
  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg>
  <div style="padding:15px; width: 100%; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12pt;">My Profile</div>
</div>

<div class="left-view">
  <div class="card">
    <button style="background-color:#f0643c; border-radius:5px; color:white; width:80%; border: none;padding: 7px;font-weight: bold;padding: 8px;">
      Edit Profile
    </button>
    <button style="border: 2px solid #f0643c;background-color: white; border-radius: 5px; width: 80%;margin-top: 20px;padding: 6px;color: #f0643c;align-items: center;">
      Change Password
    </button>
  </div>
</div>

<div class="right-view">
  <div class="card">
    hello
  </div>
</div>
