.header{
  align-items: center;
  display: flex;
  padding: 5px;
}

.left-view{
  float: left;
  width: 25%;
  height: 100%;
}

*{
  box-sizing: border-box;
  padding: 5px;
}

.right-view{
  float: left;
  width: 75%;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .left-view, .right-view {   
    width: 100%;
    padding: 0;
  }
}