<section id="preview--message">
    <div class="chips">
        <div class="mindspark--logo">
            <img src="https://learn.mindspark.in/Teacher/ms_logo_icon.fc7697984c7e16aec57c.svg">
        </div>
        <div class="message--details">
            <h2>Teacher</h2>
            <h4>hi mindspark!</h4>
        </div>
    </div>
    <div class="chips" >
        <div class="mindspark--logo">
            <img src="https://learn.mindspark.in/Teacher/ms_logo_icon.fc7697984c7e16aec57c.svg">
        </div>
        <div class="message--details">
            <h2>Mindspark</h2>
            <p>{{' Your comment is removed by the system as we could not understand it. Write to us on a new comment if you need any help with Mathematics or Mindspark. Regards, Mindspark Team'| slice:0:30}} ...</p>
        </div>
    </div>
    <form>
        <div class="text--area">
        <textarea class="inp message" name="message" placeholder="Write Your Reply"></textarea>
        <div class="send--attach">
            <div class="attachment--container">
                <i class="file"></i>
                <span>Attach a file</span>
            <input type="file" accept="image/x-png,image/png,image/jpeg,image/jpg,application/pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
             class="inp--file">

            </div>
            <button>Send</button>

        </div>
        </div>
</form>
</section>